
body{
  font-family: 'Times New Roman', Times, serif;
  padding: 20px 20px;
  font-size: 16px;
  
}
  /* about Us */

.about-us{
  margin:0 auto;
  padding: 100px 100px; 
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-us img{
  padding: 20px 20px;
}
.menu-content  img{
    width: 100%;
    padding: 20px 20px;
    margin: 0 auto;
}
.menu-content  {
margin: 0 auto;
padding: 80px;
}

/* furniture */
.white-box{
  margin:20px auto;
  padding: 70px;
}
.white-box img{
  margin-bottom: 20px;
}
.page-description {
  padding: 20px 20px;
  padding-top:50px;
  background-color: white;

}
.main-content{
  padding: 10px 10px;
}
/* menu icon */

.sidenav {
  height: 100%;
  width: 5px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  font-family: 'Times New Roman', Times, serif;

  transition: 0.3s;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* vertical slider */
/* *, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
}

.slides {
  overflow: hidden;
  width: 75vmin;
  height: 100vmin;
}
.slides li {
  width: 75vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
}
.slides img {
  height: 100vmin;
  object-fit: cover;
  object-position: top;
}
.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}
.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}
@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
} */

/* index2 */
.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: '';
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}
.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}
